@import url(./assets/css/icons.css);
@import url(./assets/css/element-icons.css);

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Light.otf);
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Regular.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Proto Mono;
  src: url(./assets/fonts/ProtoMono-Bold.otf);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Roboto Mono;
  src: url(./assets/fonts/RobotoMono-Regular.ttf);
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-400-normal.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-500-normal.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Hind;
  src: url(./assets/fonts/hind-latin-600-normal.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

html {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

.dark-theme .dialog {
  background-color: var(--bg);
}

.dark-theme .gn-button {
  border-color: transparent;
}

.g-bg-text-gradient{
  background-image: linear-gradient(0deg, #b7c2f1, #ecf0ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary\/70{
  background-color: rgba(161,174,229,.7);
}

.border-primary\/10{
  border-color: rgba(161,174,229,.1);
}

.border-primary\/30{
  border-color: rgba(161,174,229,.3);
}

.border-primary\/5 {
  border-color: rgba(161,174,229,.05);
}
.g-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: .5rem;
    padding-right: .5rem;
}

@media screen and (min-width: 768px) {
  .g-container {
    width: 1180px;
  }
}

.g-bg-text-gradient{
  background-image: linear-gradient(0deg,#b7c2f1,#ecf0ff);
}

.g-text-fill{
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}